### Force https, if not in localhost
	RewriteEngine On
	RewriteCond %{HTTP_HOST} !=andreea-l6vagrant   
	RewriteCond %{HTTPS} !=on
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

### Default www
	RewriteEngine On
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteCond %{HTTP_HOST} !^andreea-l6vagrant [NC]
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

### Default folder
	RewriteEngine on
	RewriteRule ^$ en [L]

### Password protected access on staging for testing purposes
	SetEnvIf HOST "^andreea-l6.info" productionWWW
	SetEnvIf HOST "^www.andreea-l6.info" production
	SetEnvIf HOST "^staging.andreea-l6.info" staging
	SetEnvIf HOST "^andreea-l6vagrant" local
	Order Deny,Allow
	AuthName "Restricted Area"
	AuthType Basic
	AuthUserFile .htpasswd
	#AuthGroupFile /
	Require valid-user
	Deny from all
	Allow from env=local
	Allow from env=productionWWW
	Allow from env=production
	Satisfy any
	
	
### Alternate index files
	DirectoryIndex index.html index.php index.html index.htm
	
	
### Error pages
	# Common error codes:
	# 401 - Authorization Required
	# 400 - Bad request
	# 403 - Forbidden
	# 500 - Internal Server Error
	# 404 - Wrong page
	ErrorDocument 400 /errors/400.shtml
	ErrorDocument 401 /errors/401.shtml
	ErrorDocument 403 /errors/403.shtml
	ErrorDocument 404 /errors/404.shtml
	ErrorDocument 404 /errors/404.html
	ErrorDocument 500 /errors/500.shtml
	
	
### Expires Headers
	# Specify years, months, weeks, days, hours, minutes, seconds
	<IfModule mod_expires.c>
	 ExpiresActive On
	 ExpiresDefault "access plus 1 week"
	</IfModule>


### Gzip compression
	<ifModule mod_gzip.c>
	 mod_gzip_on Yes
	 mod_gzip_dechunk Yes
	 mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	 mod_gzip_item_include handler ^cgi-script$
	 mod_gzip_item_include mime ^text/.*
	 mod_gzip_item_include mime ^application/x-javascript.*
	 mod_gzip_item_exclude mime ^image/.*
	 mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
	</ifModule>

	
### Security tips	
	# Prevent from Bad Bots
		RewriteEngine On 
		RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Custo [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^HMView [OR] 
		RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR] 
		RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR] 
		RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^larbin [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Wget [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Widow [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR] 
		RewriteCond %{HTTP_USER_AGENT} ^Zeus 
		RewriteRule ^.* - [F,L]
	
	# Protect Your .htaccess File
		<Files .htaccess>
		 order allow,deny
		 deny from all
		</Files>
	
	# Prevent hacks
		RewriteEngine On
		#proc/self/environ? no way!
			RewriteCond %{QUERY_STRING} proc/self/environ [OR]
		#Block out any script trying to set a mosConfig value through the URL
			RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
		#Block out any script trying to base64_encode crap to send via URL
			RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]
		#Block out any script that includes a <script> tag in URL
			RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
		#Block out any script trying to set a PHP GLOBALS variable via URL
			RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]
		#Block out any script trying to modify a _REQUEST variable via URL
			RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2})
		#Send all blocked request to homepage with 403 Forbidden error!
			RewriteRule ^(.*)$ index.php [F,L]
		# multiple file types
			<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
			 Order Allow,Deny
			 Deny from all
			</FilesMatch>
		# block visitors referred from indicated domains
			<IfModule mod_rewrite.c>
			 SetEnvIfNoCase ^User-Agent$ .*(craftbot|download|extract|stripper|sucker|ninja|clshttp|webspider|leacher|collector|grabber|webpictures) HTTP_SAFE_BADBOT
			 SetEnvIfNoCase ^User-Agent$ .*(libwww-perl|aesop_com_spiderman) HTTP_SAFE_BADBOT
			 Deny from env=HTTP_SAFE_BADBOT
			</ifModule>